@font-face {
  font-family: 'KKFont';
  src: url(KalistaKristicvjezba.ttf) format(truetype); 
}

.comic-neue-bold {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: normal;
  }
  
body {
    background-image: linear-gradient(to top left, rgb(194, 61, 242), rgb(252, 121, 228), rgb(252, 121, 145));
    background-repeat: no-repeat;
    min-height: 100%;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

h1 {
    font-family: 'KKFont';
}

ul {	
    padding: 20px; 
    margin-left: auto; 
    margin-right: auto;  
    width: 80%;  /* Adjusted width to better accommodate inline items */
    text-align: center;  /* Center the list items */
} 

li {
    display: inline-block;  /* Use inline-block to properly handle padding and borders */
    background-color: rgb(184, 59, 59);
    padding: 20px;
    border: 2px solid rgb(227, 101, 101);
    margin: 5px;  /* Added margin for better spacing between items */
}

li:active {
    background-color: rgb(98, 2, 171);
} 

li a {
    color: white; 
    font-family: "Comic Neue", serif; 
    text-transform: uppercase;
}

li a:link {
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}
